{%extends "layer.html"%}
{% block body %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Электронная система управления библиотекой</span>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('get_students')}}">Ученики</a></li>
                <li class="active"><a href="{{ url_for('get_books')}}">Книги</a></li>
                <li><a href="{{ url_for('main') }}" >Поиск задолженностей</a></li>
                <li><a href="{{ url_for('addbook') }}" >Добавить книгу</a></li>
                <li><a href="{{ url_for('logout') }}">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container" align="center">
    <h1 class="text-info ">Книги</h1>
    <br>
     <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>N</th>
                <th>Название</th>
                <th>Автор</th>
                <th>В наличии</th>
                <th>Всего</th>
            </tr>
           </thead>
            <tbody>
            {%for i in books%}
            <tr>
                <th>{{i[0]}}</th>
                <th>{{i[1]}}</th>
                <th>{{i[2]}}</th>
                <th>{{i[3]}}</th>
                <th>{{i[4]}} <a href="{{ url_for('book', name=i[1]+ '_' +i[2])}}">Перейти &raquo;</a></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
         <div class="row">

{% if books[0][0] != 1 %}
             <div align="left" class="col-md-6">

                 <form method="post">
                     <input type="hidden" name="num" value="{{books[0][0]}}">
                     <input type="submit" class="btn btn-info" name="btn" value="&laquo; Предыдущие 10">
                 </form>
             </div>
             {% else %}
             <div class="col-md-6"></div>
             {% endif %}
             {% if col == 10 %}
             <div class="col-md-6" align="right">
                 <form method="post">
                     <input type="hidden" name="num" value="{{books[-1][0]}}">
                     <input type="submit" class="btn btn-info" name="btn" value="Cледующие 10 &raquo;">
                 </form>
             </div>
             {% endif %}
         </div>
    </div>
</div>
{%endblock%}