{%extends "layer.html"%}
{% block body %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Электронная система управления библиотекой</span>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('get_students')}}">Ученики</a></li>
                <li class="active"><a href="{{ url_for('get_books')}}">Книги</a></li>
                <li><a href="{{ url_for('main') }}" >Поиск задолженностей</a></li>
                <li><a href="{{ url_for('addbook') }}" >Добавить книгу</a></li>
                <li><a href="{{ url_for('logout') }}">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container" align="center">
    <h1 class="text-info">Книги</h1>
    <br>
     <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>N</th>
                <th>В наличии</th>
                <th>Всего</th>
                <th>Название</th>
                <th>Автор</th>
            </tr>
           </thead>
            <tbody>
            {%for i in books%}
            <tr>
                <th>{{i[0]}}</th>
                <th>{{i[1]}}</th>
                <th>{{i[2]}}</th>
                <th>{{i[3]}}</th>
                <th>{{i[4]}} <a href="{{ url_for('book', name=i[3]+ '_' +i[4])}}">Перейти &raquo;</a></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}