<!DOCTYPE html>
<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Neo-lib</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="container" align="center">
    <div class="form-group">
        <br>
        <form method="post">
        {{form.first_name()}}
        {{form.second_name()}}
        {{form.grade_numb()}}
        {{form.grade_letter()}}
        {{form.isbn()}}
        {{form.submit()}}
        </form>
    </div>
</div>
</body>