{%extends "layer.html"%}
{% block body %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Электронная система управления библиотекой</span>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('logout') }}">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div align="center">
    <h1>Что бы Вы хотели сделать?</h1>
    <a class="btn btn-xl btn-success" href="{{url_for('take_books', id=id)}}">Взять книгу</a>
    <a class="btn btn-xl btn-success" href="{{url_for('return_books', id=id)}}">Сдать книгу</a>
    <a class="btn btn-xl btn-success" href="{{url_for('profile', id=id) }}">Ваш профиль</a>

</div>
{% endblock %}